<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <ul>
        <li><a href="/flights">All Flights</a></li>
        <li><a href="/flights/new">New Flight</a></li>
    </ul>

</head>

<body>
    <h1>Welcome to Mongoose Flights</h1>
</body>

</html>