<%- include('../partials/header') %>
    <form action="/flights" method="POST" id='new-form'>
        <label>Airline:
            <input type="text" name="airline">
        </label>
        <label for='airport-select'>Airport Code:
            <select name='airport' id='airport-select' form='new-form'>
                <option value='ATL'>ATL</option>
                <option value='DFW'>DFW</option>
                <option value='DEN' selected>DEN</option>
                <option value='LAX'>LAX</option>
                <option value='SAN'>SAN</option>
            </select>
        </label>
        <label>Flight Number:
            <input type="number" name="flightNo" min="11" max="9998" required placeholder="Number from 11 to 9998">
        </label>
        <label>Date & Time:
            <input type="datetime-local" name="departs" value="<%= departsDate %>">
        </label>
        <input type="submit" value="Add Flight">
    </form>
    <%- include('../partials/footer') %>